body {
	margin:0;
	font: 100%/147% helvetica, sans-serif;
	background-color: white;
	color: #222
	}
.container{
	width: 1200px;
	margin:0 auto;
	padding:0 1rem;
	}
header{
	margin: 0 -1rem;
	line-height: 0;
    height: 100px;
    background-color: greenyellow;
}

main{background-color: grey;margin: 0 -1rem;}

.alt{height: 600px;}
.yellow{background-color: yellow;}
.deepblu{background-color: deepskyblue;}
.red{background-color: red;height: 100px;}

/* stili navigazione principale */
nav {margin: 0 -1rem;background-color: purple;color: greenyellow;}
.menu-item {
	list-style: none;
	padding:0;
	margin-top: 0;
    margin-bottom: 0
	}
.menu-item li{
	display: inline-block;
	padding:0;
	}
.menu-item li a:hover{background-color: white;color: black;}

.menu-item li a{
	display:inline-block;
	text-decoration: none;
	padding:1rem 2rem;
    color: greenyellow;
	}

.auto{
    margin: 0 auto;
}

*, ::after,::before{box-sizing: border-box;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"]{float: left; padding: 0 1rem;}
.row::after{content:"";display: block;clear: both;margin: 0 -1rem;}