.scelto{
    background-color: red;
    color: black;
}

.scelto:hover{
    background-color: white;
    color: red;
}

.nav-link-scelto{
    color: inherit!important;
}

.navbar-logo{
    width: 50px;
    margin: 0 15px 0 0;
}

.navbar-search{
    width: 24px;
    margin: 0;
}
