.path-info{
    margin: 1rem 0 1rem 1rem;
}

.row-corousel{
    margin: 0 auto;
}

.carousel-img{
    width: 75%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: black;
    border-radius: 25px;
    padding: 25px;
}

.carousel-indicators li{
    background-color: black;
}

.carousel-indicators  .active{
    background-color: red;
}